<template>
  <div class="gallery">
    <div class="container">
      <h1>This is an gallery page</h1>
      <div class="grid-container">
        <div v-for="n in 12" v-bind:key="n" class="grid-item">
          <div @click="onSelect(n)">
            <img alt="Vue logo" src="../assets/logo.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <modal
    v-if="state.isShowModal"
    @close="state.isShowModal = false"
    @back="back"
    @next="next"
    :imgIndex="state.imgIndex"
  >
    <template v-slot:header>
      <h3>custom header</h3>
    </template>
  </modal>
</template>

<style>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}

.select {
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .grid-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
</style>
<script>
import { defineComponent, reactive } from "vue";
import Modal from "../components/Modal";
export default defineComponent({
  name: "Gallery",
  components: {
    Modal,
  },
  setup() {
    const state = reactive({
      isShowModal: false,
      imgIndex: null,
    });

    function onSelect(n) {
      state.imgIndex = n;
      state.isShowModal = true;
    }

    function back() {
      if (state.imgIndex > 1) return (state.imgIndex = state.imgIndex - 1);
      return (state.imgIndex = 12);
    }

    function next() {
      if (state.imgIndex < 12) return (state.imgIndex = state.imgIndex + 1);
      return (state.imgIndex = 1);
    }

    return {
      onSelect,
      back,
      next,
      state,
    };
  },
});
</script>
